:root {
    --violet:  #8e8cf5;
    --white: #ffffff;
    --beige: #c0bcac;
}

body {
    background-color: var(--beige);
    height: 100%
}

header {
    padding: 20px;
    font-family: 'Times New Roman', Arial, sans-serif;
    background-color: var(--violet);
    color: var(--white);
}

header h1 {
    font-size: 50px;
    padding: 10px;
    background-color: #0a0233;
}

.header-column, .header-column2 {
    float: right;
    width: 50%;
  }

ul li {
    list-style: none;
    line-height: 35px; 
}

ul li a {
    color: #ffffff;
}

.header-column2 {
    padding-top: 15px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header-row:after {
    content: "";
    display: table;
    clear: both;
  }

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../Images/topbanner.jpg");
    background-size: cover;
    background-position: center;
}

.about-me-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    padding: 10px;
}
.about-me-row img {
    border-radius: 8px
}

.about-me-column:nth-child(1) {
    display: block;  
    width: 300px;
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans','Trebuchet MS', sans-serif;
    font-size: 40px;
    border-right: 5px solid var(--violet)
}
 

.about-me-column:nth-child(2) {
    display: block;  
    width: 700px; 
    text-align: left;
    padding: 20px;
    font-family:'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.works-row {
    display: flex;
    flex-direction: grid;
    flex-wrap: wrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    padding: 10px;
}

.works-column:nth-child(1) {
    display: block;  
    width: 300px;
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans','Trebuchet MS', sans-serif;
    font-size: 40px;
    border-right: 5px solid var(--violet)
}

.works-column:nth-child(2) {
    flex: 50%;
    padding: 0 4px;
}

.works-item-row {
    display: flex;
    justify-content: center;
}

.works-item-row img {
   max-width: 25%;
   padding: 10px;
   margin: 10px
}

.works-item-highlighted-row img {
    max-width: 80%;
}

.works-item-highlighted-row {
position: relative;
text-align: center;
color: white; 
}

.centered {
    position: absolute;
    top: 50%;
    left: 45%;
    color: #ffffff;
    border: 10px solid var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

.works-column img {
    box-shadow: 0px 0px 5px var(--white);
    border: 10px solid var(--violet);
}

.works-column img:hover {
    opacity: 0.5
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: var(--violet);
    color: white;
    font-size: 25px;
    text-align: center;
}

footer nav {
    text-align: center;
}

footer nav ul li {
    display: inline-block; 
}


@media screen and (max-width: 992px) {
    .about-me-column:nth-child(1), .about-me-column:nth-child(2), .works-item-row .works-item-highlighted-row, .works-item-row {
     width: 100%;
    }
}